In [1]:
# Import modules
from warnings import simplefilter
simplefilter(action='ignore', category=FutureWarning)
import pandas as pd
from pathlib import Path
from sklearn.model_selection import train_test_split
from sklearn.metrics import classification_report
from sklearn.preprocessing import StandardScaler

### 1. Read the CSV file into a Pandas DataFrame.

In [24]:
# Read the CSV file into a Pandas DataFrame
df = pd.read_csv('../Resources/bank.csv')

# Review the DataFrame
df.head()

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,y
0,30,unemployed,married,primary,no,1787,no,no,cellular,19,oct,79,1,-1,0,unknown,no
1,33,services,married,secondary,no,4789,yes,yes,cellular,11,may,220,1,339,4,failure,no
2,35,management,single,tertiary,no,1350,yes,no,cellular,16,apr,185,1,330,1,failure,no
3,30,management,married,tertiary,no,1476,yes,yes,unknown,3,jun,199,4,-1,0,unknown,no
4,59,blue-collar,married,secondary,no,0,yes,no,unknown,5,may,226,1,-1,0,unknown,no

### 2. Separate the features `X` from the target `y`

In [32]:
# Seperate the features, X,  from the target variable, y
y = df["y"]
X = df.drop(columns="y")

In [31]:
# Preview the features data
print(X[:5])

   age  balance  day  duration  campaign  pdays  previous  job_admin.  \
0   30     1787   19        79         1     -1         0       False
1   33     4789   11       220         1    339         4       False
2   35     1350   16       185         1    330         1       False
3   30     1476    3       199         4     -1         0       False
4   59        0    5       226         1     -1         0       False

   job_blue-collar  job_entrepreneur  ...  month_jun  month_mar  month_may  \
0            False             False  ...      False      False      False
1            False             False  ...      False      False       True
2            False             False  ...      False      False      False
3            False             False  ...       True      False      False
4             True             False  ...      False      False       True

   month_nov  month_oct  month_sep  poutcome_failure  poutcome_other  \
0      False       True      False             False           False
1      False      False      False              True           False
2      False      False      False              True           False
3      False      False      False             False           False
4      False      False      False             False           False

   poutcome_success  poutcome_unknown
0             False              True
1             False             False
2             False             False
3             False              True
4             False              True

[5 rows x 51 columns]

In [27]:
# Preview the first five entries for the target variable
print(y[:5])

0    no
1    no
2    no
3    no
4    no
Name: y, dtype: object

### 3. Encode the categorical variables from the features data using `get_dummies`.

In [37]:
# Encode the categorical variables using get_dummies in binary code
X = pd.get_dummies(X)

In [38]:
# Review the features data in binary format
X.head()

,age,balance,day,duration,campaign,pdays,previous,job_admin.,job_blue-collar,job_entrepreneur,...,month_jun,month_mar,month_may,month_nov,month_oct,month_sep,poutcome_failure,poutcome_other,poutcome_success,poutcome_unknown
0,30,1787,19,79,1,-1,0,False,False,False,...,False,False,False,False,True,False,False,False,False,True
1,33,4789,11,220,1,339,4,False,False,False,...,False,False,True,False,False,False,True,False,False,False
2,35,1350,16,185,1,330,1,False,False,False,...,False,False,False,False,False,False,True,False,False,False
3,30,1476,3,199,4,-1,0,False,False,False,...,True,False,False,False,False,False,False,False,False,True
4,59,0,5,226,1,-1,0,False,True,False,...,False,False,True,False,False,False,False,False,False,True

### 4. Separate the data into training and testing subsets.

In [15]:
# Split the dataset using train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=1)

print(X_train.shape, X_test.shape)

(3390, 51) (1131, 51)

### 5. Scale the data using `StandardScaler`

In [16]:
# Instantiate a StandardScaler instance
scaler = StandardScaler()
# Fit the training data to the standard scaler
X_scaler = scaler.fit(X_train)

# Transform the training data using the scaler
X_train_scaled = X_scaler.transform(X_train)

# Transform the testing data using the scaler
X_test_scaled = X_scaler.transform(X_test)

### 6. Instantiate an K Nearest Neighbor Classifier instance.

In [17]:
# Import the KNeighborsClassifier module from sklearn
from sklearn.neighbors import KNeighborsClassifier

# Instantiate the KNeighborsClassifier model with n_neighbors = 3 
knn = KNeighborsClassifier(n_neighbors=3)

### 7. Fit the model using the training data.

In [18]:
# Train the model using the training data
knn.fit(X_train_scaled, y_train)

KNeighborsClassifier(n_neighbors=3)

### 8. Make predictions using the testing data.

In [19]:
# Create predictions using the testing data
y_pred = knn.predict(X_test_scaled)

y_pred

array(['no', 'no', 'no', ..., 'no', 'no', 'no'], dtype=object)

### 9. Generate the classification report for the test data.

In [20]:
# Print the classification report comparing the testing data to the model predictions
print(classification_report(y_test, y_pred))

              precision    recall  f1-score   support

          no       0.90      0.97      0.93       988
         yes       0.54      0.22      0.32       143

    accuracy                           0.88      1131
   macro avg       0.72      0.60      0.62      1131
weighted avg       0.85      0.88      0.86      1131