In [1]:
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import os

In [2]:
df = pd.read_csv("../Resources/occupancy.csv")
df.head()

   Temperature  Humidity  Light     CO2  HumidityRatio  Occupancy
0        23.18   27.2720  426.0  721.25       0.004793          1
1        23.15   27.2675  429.5  714.00       0.004783          1
2        23.15   27.2450  426.0  713.50       0.004779          1
3        23.15   27.2000  426.0  708.25       0.004772          1
4        23.10   27.2000  426.0  704.50       0.004757          1

In [3]:
# Get the target variables. 
target = df["Occupancy"]
target_names = ["empty", "occupied"]

In [4]:
# Get the features. 
data = df.drop("Occupancy", axis=1)
feature_names = data.columns
data.head()

   Temperature  Humidity  Light     CO2  HumidityRatio
0        23.18   27.2720  426.0  721.25       0.004793
1        23.15   27.2675  429.5  714.00       0.004783
2        23.15   27.2450  426.0  713.50       0.004779
3        23.15   27.2000  426.0  708.25       0.004772
4        23.10   27.2000  426.0  704.50       0.004757

In [5]:
# Split data into training and testing
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(data, target, random_state=42)

In [6]:
# Support vector machine linear classifier
from sklearn.svm import SVC 
model = SVC(kernel='linear')
model.fit(X_train, y_train)

SVC(kernel='linear')

In [7]:
# Model Accuracy
print('Test Acc: %.3f' % model.score(X_test, y_test))

Test Acc: 0.986

In [8]:
# Calculate the classification report
from sklearn.metrics import classification_report
predictions = model.predict(X_test)
print(classification_report(y_test, predictions,
                            target_names=target_names))

              precision    recall  f1-score   support

       empty       1.00      0.98      0.99      1607
    occupied       0.94      0.99      0.97       429

    accuracy                           0.99      2036
   macro avg       0.97      0.99      0.98      2036
weighted avg       0.99      0.99      0.99      2036